/*
  Inject Tailwind's base styles and use the Tailwind Macro with emotion to use
  the rest of Tailwind's classes in the project
*/
@tailwind base;

.headroom--unfixed {
  background-color: transparent;
  transform: translateY(0);
}

.headroom--pinned {
  background-color: white;

}

html {
    opacity: 0;
}

html.wf-active {
    opacity: 1;
}

.header-holder {
    height: 64px;
}

@media (min-width: 768px) {
    .header-holder {
        height: 75px;
    }
}

@media (min-width: 768px) {
    body.home .logo {
        display: none;
    }
}

.carousel__dot-group {
    margin: 24px 0 0 0;
    text-align: center;
}

.carousel__dot {
    background: #000;
    border-radius: 50%;
    height: 12px;
    margin: 0 2px;
    width: 12px;
}

.carousel__dot--selected {
    background: rgb(5, 250, 189);
}
